{% extends 'web/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 30px;">
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-6">
                            <h1>Welcome to AGRI TRADE!</h1>
                            <hr class="my-4">

                            <div>
                                <h3>Our Solution</h3>
                                <p>Agri Trade is a digital B2B marketplace that brings together Sellers and Buyers of
                                    agricultural
                                    products.</p>
                                <p>Agri Trade is not a broker - we do not buy or sell agricultural products, we merely
                                    offer
                                    Sellers
                                    to market their products easily on the market.</p>
                            </div>

                            <div style="margin-top: 20px">
                                <h3>How It Works</h3>
                                <ol>
                                    <li>Register to the Platform</li>
                                    <li>Place your product to the Marketplace as a Seller by providing Buyers with:</li>
                                    <ul>
                                        <li>crop characteristics and details</li>
                                        <li>sell details</li>
                                        <li>additional details</li>
                                    </ul>
                                    <li>Get contacted by potential Buyers with our integrated messaging system</li>
                                </ol>
                            </div>

                            {% if not request.user.is_authenticated %}
                                <p class="lead" style="margin-top: 30px">
                                    <a class="btn btn-primary"
                                       href="{% url 'accounts:register' %}" role="button">Register Now ></a>
                                </p>
                            {% else %}
                                <p class="lead" style="margin-top: 30px">
                                    <a class="btn btn-primary"
                                       href="{% url 'marketplace:marketplace' %}" role="button">Go to Marketplace ></a>
                                </p>
                            {% endif %}
                        </div>

                        <div class="col-6">
                            <img class="img-fluid" src="{% static 'img/homepage_circle.png' %}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 30px; margin-bottom: 50px; background-color: #e3f2fd;">
        <div class="container">
            {% comment %}
                extend when needed
            {% endcomment %}
        </div>
    </div>
{% endblock %}