{% extends 'web/base.html' %}

{% block content %}
    <div class="container" style="margin-top: 30px; margin-bottom: 50px">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <h3>Add Product</h3>
                <form method="post" action="{% url 'marketplace:add product' %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form.errors %}
                        {% for _, value in form.errors.items %}
                            {{ value }}
                        {% endfor %}
                    {% endif %}

                    <div class="row" style="margin-top: 30px">
                        <div class="col">
                            <label class="mb-1" {% if form.name.errors %}style="color: red"{% endif %}>Name*</label>
                            {{ form.name }}
                        </div>
                        <div class="col">
                            <label class="mb-1"
                                   {% if form.category.errors %}style="color: red"{% endif %}>Category*</label>
                            {{ form.category }}
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px">
                        <div class="col">
                            <label class="mb-1"
                                   {% if form.variety.errors %}style="color: red"{% endif %}>Variety</label>
                            {{ form.variety }}
                        </div>
                        <div class="col">
                            <label class="mb-1" {% if form.type.errors %}style="color: red"{% endif %}>Type</label>
                            {{ form.type }}
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px">
                        <div class="col">
                            <label class="mb-1" {% if form.form.errors %}style="color: red"{% endif %}>Form</label>
                            {{ form.form }}
                        </div>
                        <div class="col">
                            <label class="mb-1" {% if form.size.errors %}style="color: red"{% endif %}>Size in
                                mm</label>
                            {{ form.size }}
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px">
                        <div class="col">
                            <label class="mb-1" {% if form.cultivation_type.errors %}style="color: red"{% endif %}>Cultivation
                                Type*</label>
                            {{ form.cultivation_type }}
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px">
                        <div class="col">
                            <label class="mb-1" {% if form.price.errors %}style="color: red"{% endif %}>Price in
                                EUR/KG*</label>
                            {{ form.price }}
                        </div>
                        <div class="col">
                            <label class="mb-1" {% if form.available_volume.errors %}style="color: red"{% endif %}>Available
                                Volume in KG*</label>
                            {{ form.available_volume }}
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px">
                        <div class="col">
                            <label class="mb-1" {% if form.description.errors %}style="color: red"{% endif %}>Description</label>
                            {{ form.description }}
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px">
                        <div class="col">
                            <label class="mb-1" {% if form.origin.errors %}style="color: red"{% endif %}>Origin*</label>
                            {{ form.origin }}
                        </div>
                        <div class="col">
                            <label class="mb-1"
                                   {% if form.location.errors %}style="color: red"{% endif %}>Location*</label>
                            {{ form.location }}
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px">
                        <div class="col">
                            <label class="mb-1" {% if form.image.errors %}style="color: red"{% endif %}>Image</label>
                            {{ form.image }}
                        </div>
                    </div>

                    <button type="submit" style="margin-top: 30px" class="btn btn-primary">Add</button>
                    <a class="btn btn-secondary" style="margin-top: 30px" href="{% url 'marketplace:marketplace' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}