{% extends 'web/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

    <div class="container" style="margin-top: 30px; margin-bottom: 50px">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <h3>{{ product.name }} Details</h3>

                <div class="row gx-5" style="margin-top: 10px">
                    <div class="col-md-5">
                        <div class="card" style="width: 20rem; margin-top: 30px">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            {% else %}
                                <img src="{% static 'img/no_photo.jpg' %}" class="card-img-top"
                                     alt="{{ product.name }}">
                            {% endif %}
                        </div>

                        <div class="d-grid gap-2" style="margin-top: 15px">
                            {% if request.user.is_authenticated and request.user != product.owner %}
                                <button type="button" class="btn btn-outline-primary" style="margin-top: 20px"
                                        data-bs-toggle="collapse" data-bs-target="#contactSeller">See Seller Details
                                </button>
                                <div id="contactSeller" class="collapse card card-body" style="margin-top: 20px">
                                    <p><b>{% if product.owner.company %}Seller Company: </b>
                                        {{ product.owner.company }}{% endif %}</p>
                                    <p><b>Contact
                                        Person: </b>{{ product.owner.first_name }} {{ product.owner.last_name }}
                                    </p>
                                    <p><b>Email Address: </b>{{ product.owner.email }}</p>
                                </div>

                                <a class="btn btn-primary" style="margin-top: 20px"
                                   href="{% url 'user_messages:send message' product.id %}"
                                   role="button"><i class="fa-solid fa-message"></i> Message Seller</a>

                                    <form class="d-grid gap-2" method="POST" action="{% url 'marketplace:add to favourites' product.id %}">
                                        {% csrf_token %}
                                        {% if is_in_favourites %}
                                            <a class="btn btn-danger" style="margin-top: 20px"
                                               href="{% url 'marketplace:add to favourites' product.id %}"
                                               role="button"><i class="fa-sharp fa-solid fa-trash"></i> Remove from Favourites</a>
                                        {% else %}
                                            <a class="btn btn-primary" style="margin-top: 20px"
                                               href="{% url 'marketplace:add to favourites' product.id %}"
                                               role="button"><i class="fa-solid fa-plus"></i> Add to Favourites</a>
                                        {% endif %}
                                    </form>
                            {% endif %}

                            <div class="d-grid gap-2">
                                {% if request.user.is_authenticated and request.user == product.owner %}
                                    <a class="btn btn-primary" style="margin-top: 10px"
                                       href="{% url 'marketplace:edit product' product.id %}"
                                       role="button"><i class="fa-solid fa-pen"></i> Edit</a>
                                    <a class="btn btn-danger" style="margin-top: 10px"
                                       href="{% url 'marketplace:delete product' product.id %}"
                                       role="button"><i class="fa-sharp fa-solid fa-trash"></i> Delete</a>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <div style="margin-top: 30px">
                            <h5 style="margin-bottom: 15px"><b>Basic Product Information</b></h5>
                            <hr>
                            <p><b>Product Name: </b>{{ product.name }}</p>
                            <p><b>Category: </b>{{ product.category }}</p>
                            <p><b>Variety: </b>{% if product.variety %}{{ product.variety }}{% endif %}</p>
                            <p><b>Type: </b>{% if product.type %}{{ product.type }}{% endif %}</p>
                            <p><b>Form: </b>{% if product.form %}{{ product.form }}{% endif %}</p>
                            <p><b>Size: </b>{% if product.size %}{{ product.size }}{% endif %}</p>
                            <p><b>Cultivation Type: </b>{{ product.cultivation_type }}</p>

                            <h5 style="margin-top: 40px; margin-bottom: 15px"><b>Sell Details</b></h5>
                            <hr>
                            <p><b>Available Volume: </b>{{ product.available_volume|intcomma }} KG</p>
                            <p><b>Price: </b>EUR {{ product.price|floatformat:2 }} / KG</p>
                            <p><b>Origin: </b>{{ product.origin.name }}</p>
                            <p><b>Location: </b>{{ product.location.name }}</p>

                            <h5 style="margin-top: 40px; margin-bottom: 15px"><b>Additional Details</b></h5>
                            <hr>
                            <p><b>Available Since: </b>{{ product.created_on|date }}</p>
                            <p><b>Description: </b>
                                {% if product.description %}
                                    {{ product.description|linebreaks }}
                                {% endif %}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}