{% extends 'web/base.html' %}

{% block content %}
    <div class="container mt-4 mb-5">
        <div class="row justify-content-md-center">
            <h3>Agri Trade Insights</h3>
            <h5>Get access to extensive insights from the food and agricultural markets for free!</h5>
            <div class="container mt-4">
                <div class="row">
                    {% if not posts %}
                        <h3>There are no posts published yet! Come again later.</h3>
                    {% else %}
                        {% for post in posts %}
                            <div class="col-sm-6 mb-4">
                                <div class="card text-center">
                                    <div class="card-header" style="background-color: #e3f2fd;">{{ post.topic }}</div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ post.title }}</h5>
                                        <p class="card-text">{{ post.subtitle }}</p>
                                        <a href="{% url 'posts:show post' post.id %}" class="btn btn-primary">Read More</a>
                                    </div>
                                    <div class="card-footer text-muted" style="background-color: #e3f2fd;">
                                        Posted {{ post.created_on|timesince }} ago by <b>{{ post.author }}</b>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}