{% extends 'web/base.html' %}

{% block content %}
    <div class="container mt-4 mb-5" style="margin-top: 30px; margin-bottom: 50px">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <h3>{{ post.title }}</h3>
                <h5>{{ post.subtitle }}</h5>
                <p>Posted {{ post.created_on|timesince }} ago by <b>{{ post.author }}</b></p>
                <hr>
                <div>
                    <p>{{ post.body|safe }}</p>
                </div>

                <div class="text-center mt-4">
                    <a href="{% url 'posts:show comments' post.id %}"><h4>Comments ({{ comments_count }})</h4></a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}